/* CertificateDownload.css */
.container-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

   
  }
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    /* box-sizing: border-box; */
    width: 50%;
  }
  
  h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  input:focus{
    outline: none;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
  }
  

  span{
    color: #0000;
  }
  .error {
    color: red;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
  }
  .success {
    color: green;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
  }
  @media (max-width: 600px) {
    .container{
        width: 80%;
    }
    h1 {
      font-size: 2rem;
    }
  
    input {
      font-size: 0.9rem;
    }
  
    button {
      font-size: 0.9rem;
    }
  }
  